
*.m~
/.project

*.aux

*.log

*.gz

img/*
lib/*

doc/dbmm_relazione_2.blg

doc/dbmm_relazione_2.bbl

doc/dbmm_relazione_2.pdf

~$results.xlsx

~$results_bck.xlsx

matlab/mat/hard1.mat

matlab/mat/soft1.mat

matlab/bow-dbmm-cioni-meucci.zip
